* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* NAVBAR */
header {
    background: #111;
    padding: 15px 0;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu-btn {
    display: none;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
}

.hero span {
    color: #007bff;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SECCIONES */
section {
    padding: 60px 10%;
}

.skills ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}