/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* ===== OBJETOS REUTILIZABLES ===== */
.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

/* ===== COMPONENTES ===== */
header {
  background: #111;
  padding: 15px 0;
}

.logo {
  color: #fff;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: white;
}

.hero span {
  color: #007bff;
}

section {
  padding: 60px 10%;
}

.skills ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: #111;
  color: white;
  padding: 20px;
}