/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* LOGO PRINCIPAL */
.logo {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d4af37, #f7e7b7, #d4af37);
  -webkit-background-clip: text;
  color: transparent;
}

.logo-sub {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: #888;
  text-transform: uppercase;
  display: block;
  margin-top: -5px;
}

.logo-container {
  text-align: center;
}

/* NAVBAR */
header {
  background: #111;
  padding: 15px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  display: none;
}

/* PRINCIPAL */
.foto-perfil {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.principal {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
}

.principal span {
  color: #007bff;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* TEXTO ANIMADO */
.rol-animado {
  font-size: 1.6rem;
  font-weight: 600;
  color: #d4af37;
  text-align: center;
  margin-top: 10px;
}

#texto-rol {
  display: inline-block;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* SECCIONES */
section {
  padding: 60px 10%;
}

.skills ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0;
  list-style: disc;
}

.skills li {
  display: list-item;
  margin-bottom: .5rem;
}

.project-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    color: #fff;
    font-size: 28px;
    margin: 0 10px;
    transition: 0.3s ease;
}

footer .social a:hover {
    color: #0e76a8; /* Azul LinkedIn por defecto */
    transform: scale(1.1);
}

